.card {
  width: 150px;
  height: 150px;
  background-color: #5090f0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 80%;
  height: 80%;
  border-radius: 10px;
}
