body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 5px;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333333;
  font-weight: 100;
}
.card {
  width: 150px;
  height: 150px;
  background-color: #5090f0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 80%;
  height: 80%;
  border-radius: 10px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.board {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 60px;
  background-color: rgb(179, 213, 245);
  border-radius: 10px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#start-button {
  padding: 15px 45px;
  font-size: 16px;
  background-color: #505bf0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
